h1{
    color:black;
    background: red;
    font-size: 36px;
    max-width: 100px;
    max-height: 100px;
    padding: 20px;
    margin:20px;
    border:black solid 20px;
    border-radius: 10px;
    /* outline:solid blue 3px; */
    outline-offset: 10px;
    outline-style: inset;
    

}
p{
    color:rgb(255, 255, 255);
    background: rgb(58, 5, 233);
    font-size: 24px;
    min-width: 100px;
    min-height: 100px;
    padding: 10px;
    margin-top:100px;
    margin-left: 10px;
    margin-right: 10px;
    border:rgb(105, 238, 48) solid 20px;
    border-radius: 10px;
    /* outline:solid blue 3px;
    outline-offset: 10px;
    outline-style: inset;
     */

}